Repository ibbybuilds/aegra: changes, and which Codecov flags are due for each by the changed paths.
All: aegra-api, aegra-cli

codecov.yml:

coverage:
  # Badge color thresholds: red < 50%, yellow 50-70%, green >= 70%
  range: 50..70
  round: down
  precision: 2
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 2%
      # Per-package coverage status
      aegra-api:
        flags:
          - aegra-api
        target: auto
        threshold: 2%
      aegra-cli:
        flags:
          - aegra-cli
        target: auto
        threshold: 2%
    patch:
      default:
        informational: true

# Define flags for monorepo packages
flags:
  aegra-api:
    paths:
      - libs/aegra-api/src/
    carryforward: true
  aegra-cli:
    paths:
      - libs/aegra-cli/src/
    carryforward: true

comment:
  # Use condensed layout for cleaner, more focused PR comments
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default  # Update existing comment, or post new if doesn't exist
  # Only post if coverage changes (reduces noise)
  require_changes: true
  # Require both base and head reports for meaningful comparison
  require_base: true
  require_head: true
  # Hide project coverage, focus on patch/diff coverage (cleaner view)
  hide_project_coverage: true

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

test(assistant_service): add metadata update tests
  libs/aegra-api/tests/unit/test_services/test_assistant_service.py
Due: none

feat: set up uv workspace for monorepo
  .github/workflows/ci.yml
  Makefile
  README.md
  libs/aegra-api/src/aegra_api/config.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/uv.lock
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/tests/test_cli.py
  libs/aegra-cli/uv.lock
  pyproject.toml
  uv.lock
Due: aegra-api

docs: update documentation for uv workspace commands
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  docs/developer-guide.md
  libs/aegra-api/README.md
  libs/aegra-api/src/aegra_api/config.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
Due: aegra-api

fix: auto-apply database migrations on server startup
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/core/migrations.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/tests/unit/test_main.py
  libs/aegra-api/tests/unit/test_migrations.py
  libs/aegra-cli/src/aegra_cli/commands/db.py
  libs/aegra-cli/tests/test_db.py
Due: aegra-api, aegra-cli

fix: move migration import to top of file, add import rule to CLAUDE.md
  CLAUDE.md
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/tests/unit/test_main.py
Due: aegra-api

refactor: always generate Docker files in aegra init
  CLAUDE.md
  README.md
  libs/aegra-api/README.md
  libs/aegra-cli/README.md
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/utils/docker.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

fix: add explicit return type to init command
  libs/aegra-cli/src/aegra_cli/commands/init.py
Due: aegra-cli

docs: add strict type annotation rules to CLAUDE.md
  CLAUDE.md
Due: none

docs: bump to v0.3.0 and update all docs for CLI commands
  CLAUDE.md
  docs/authentication.md
  docs/configuration.md
  docs/custom-routes.md
  docs/developer-guide.md
  docs/migration-cheatsheet.md
  docs/production-docker-setup.md
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
Due: none

fix: release workflow artifact upload for uv workspace
  .github/workflows/release.yml
Due: none

fix: use correct uv flag --out-dir instead of --output-dir
  .github/workflows/release.yml
Due: none

docs: add comprehensive agent coding rules to CLAUDE.md
  CLAUDE.md
Due: none

fix: address review comments on CLAUDE.md
  CLAUDE.md
Due: none

fix: use pg18+ volume mount path /var/lib/postgresql
  docs/production-docker-setup.md
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/commands/init.py
Due: aegra-cli

fix: sync __version__ with pyproject.toml (0.3.1)
  libs/aegra-api/src/aegra_api/__init__.py
  libs/aegra-cli/src/aegra_cli/__init__.py
Due: aegra-api, aegra-cli

fix: use dynamic version from importlib.metadata
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/__init__.py
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/__init__.py
Due: aegra-api, aegra-cli

fix: resolve migration hang, health check wait, and credential mismatch
  libs/aegra-api/alembic/env.py
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/utils/docker.py
  uv.lock
Due: aegra-cli

feat: add DATABASE_URL support for containerized deployments
  .env.example
  docs/configuration.md
  libs/aegra-api/alembic.ini
  libs/aegra-api/alembic/env.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_settings.py
Due: aegra-api

fix: handle legacy postgres:// scheme and add malformed URL test
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_settings.py
Due: aegra-api

refactor: remove unused _parse_database_url validator
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_settings.py
Due: aegra-api

feat: add DATABASE_URL to CLI-generated .env.example
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

refactor: use bundled template for CLI .env.example generation
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

fix: restore PROJECT_NAME and VERSION to .env.example
  .env.example
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

refactor: template-based .env.example, version pinning, and CLAUDE.md rules
  .env.example
  CLAUDE.md
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
Due: aegra-cli

chore: bump version to 0.4.0 for DATABASE_URL feature release
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

docs: document DATABASE_URL support and clarify install instructions
  README.md
  docs/configuration.md
Due: none

fix: POSTGRES_HOST default, .env parsing, and config simplification
  .env.example
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  libs/aegra-cli/tests/test_cli.py
  uv.lock
Due: aegra-api, aegra-cli

fix: aegra db commands, Docker migrations, and startup error messages
  docs/README.md
  docs/deployment.md
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/commands/db.py
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/env.py
  libs/aegra-cli/tests/test_cli.py
  libs/aegra-cli/tests/test_db.py
  uv.lock
Due: aegra-api, aegra-cli

fix: address code review feedback on PR #190
  docs/deployment.md
  libs/aegra-cli/src/aegra_cli/commands/db.py
Due: aegra-cli

fix: address coderabbitai review feedback
  docs/deployment.md
  libs/aegra-cli/src/aegra_cli/env.py
  libs/aegra-cli/tests/test_db.py
Due: aegra-cli

feat: revamp `aegra init` with interactive template selection
  CLAUDE.md
  README.md
  docs/deployment.md
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  libs/aegra-cli/src/aegra_cli/templates/react-agent/README.md.template
  libs/aegra-cli/src/aegra_cli/templates/react-agent/__init__.py.template
  libs/aegra-cli/src/aegra_cli/templates/react-agent/graph.py.template
  libs/aegra-cli/src/aegra_cli/templates/react-agent/manifest.json
  libs/aegra-cli/src/aegra_cli/templates/react-agent/pyproject.toml.template
  libs/aegra-cli/src/aegra_cli/templates/react-agent/tools.py.template
  libs/aegra-cli/src/aegra_cli/templates/shared/gitignore
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/README.md.template
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/__init__.py.template
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/graph.py.template
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/manifest.json
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/pyproject.toml.template
  libs/aegra-cli/tests/test_init.py
  uv.lock
Due: aegra-cli

fix: address code review feedback on init templates PR
  docs/developer-guide.md
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/graph.py.template
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

fix: add logging to _is_interactive and type-annotate graph template
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/graph.py.template
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

refactor: use abstract types in _prompt_template and monkeypatch in tests
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

feat: merge docker-compose, add shared template modules, enrich agent templates
  docs/developer-guide.md
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/services/assistant_service.py
  libs/aegra-api/src/aegra_api/utils/setup_logging.py
  libs/aegra-api/tests/unit/test_services/test_assistant_service_schemas.py
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/src/aegra_cli/templates/react-agent/README.md.template
  libs/aegra-cli/src/aegra_cli/templates/react-agent/graph.py.template
  libs/aegra-cli/src/aegra_cli/templates/react-agent/manifest.json
  libs/aegra-cli/src/aegra_cli/templates/react-agent/pyproject.toml.template
  libs/aegra-cli/src/aegra_cli/templates/shared/context.py.template
  libs/aegra-cli/src/aegra_cli/templates/shared/prompts.py.template
  libs/aegra-cli/src/aegra_cli/templates/shared/state.py.template
  libs/aegra-cli/src/aegra_cli/templates/shared/utils.py.template
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/README.md.template
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/graph.py.template
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/manifest.json
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/pyproject.toml.template
  libs/aegra-cli/tests/test_cli.py
  libs/aegra-cli/tests/test_init.py
  uv.lock
Due: aegra-api, aegra-cli

fix: review fixes, docs audit, docker-compose pg18, background task error handling
  .env.example
  CLAUDE.md
  README.md
  docs/README.md
  docs/configuration.md
  docs/deployment.md
  docs/semantic-store.md
  libs/aegra-api/README.md
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/integration/test_streaming_errors.py
  libs/aegra-api/tests/unit/test_api/test_runs_streaming.py
  libs/aegra-cli/README.md
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/commands/db.py
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  libs/aegra-cli/src/aegra_cli/templates/react-agent/graph.py.template
  libs/aegra-cli/src/aegra_cli/templates/shared/context.py.template
  libs/aegra-cli/src/aegra_cli/templates/shared/state.py.template
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/graph.py.template
  libs/aegra-cli/tests/test_cli.py
  libs/aegra-cli/tests/test_db.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-api, aegra-cli

fix: make uv.lock optional in Dockerfile template
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli
