Repository ibbybuilds/aegra: changes, and which Codecov flags are due for each by the changed paths.
All: aegra-api, aegra-cli

refactor: drop unnecessary graphId thread metadata fallback
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
Due: aegra-api

docs: auto-update OpenAPI spec
  docs/openapi.json
  uv.lock
Due: none

fix(codecov): restore consistent PR comments
  codecov.yml
Due: none

fix: add check=True to stress test subprocess calls, clarify Redis optionality in docs
  docs/guides/deployment.mdx
  libs/aegra-api/tests/e2e/multi_instance/test_stress.py
Due: none

fix: prevent double end event on cancel, guard lease-loss set leak
  libs/aegra-api/src/aegra_api/services/redis_broker.py
  libs/aegra-api/src/aegra_api/services/run_executor.py
Due: aegra-api

feat: tune connection pool defaults, add stress tool agent
  aegra.json
  deployments/test/docker-compose.multi.yml
  examples/stress_tool_agent/__init__.py
  examples/stress_tool_agent/graph.py
  libs/aegra-api/src/aegra_api/settings.py
Due: aegra-api

style: fix import sorting in stress_tool_agent
  examples/stress_tool_agent/graph.py
Due: none

chore: update .gitignore to include Claude directory
  .gitignore
Due: none

fix: use atomic event IDs and replay events on SSE reconnect
  deployments/test/docker-compose.multi.yml
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/services/broker.py
  libs/aegra-api/src/aegra_api/services/run_executor.py
Due: aegra-api

fix(store): enforce namespace isolation in apply_user_namespace_scoping
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/store.py
  libs/aegra-api/tests/unit/test_api/test_store_namespace_scoping.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

fix(store): add integration tests and docs for namespace isolation
  docs/guides/store.mdx
  libs/aegra-api/tests/integration/test_api/test_store_crud.py
Due: none

docs: auto-update OpenAPI spec
  docs/openapi.json
Due: none

fix(worker): skip done-signal and broker cleanup on lease-loss cancel
  libs/aegra-api/src/aegra_api/services/run_executor.py
  libs/aegra-api/tests/unit/test_services/test_run_executor.py
Due: aegra-api

chore: reduce Redis replay buffer TTL from 1 hour to 10 minutes
  libs/aegra-api/src/aegra_api/services/redis_broker.py
Due: aegra-api

fix: prevent double-wrapping of `before` RunnableConfig in thread history
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/models/threads.py
  libs/aegra-api/tests/integration/test_api/test_threads_history.py
Due: aegra-api

fix: correct async generator annotation and noqa code in test
  libs/aegra-api/tests/integration/test_api/test_threads_history.py
Due: none

chore: bump version 0.8.5 → 0.8.6
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
Due: none

fix: set thread status to error on job timeout
  libs/aegra-api/src/aegra_api/services/worker_executor.py
  libs/aegra-api/tests/unit/test_services/test_worker_executor.py
Due: aegra-api

fix: SSE end event now reflects actual run status
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/core/sse.py
  libs/aegra-api/src/aegra_api/services/event_converter.py
Due: aegra-api

Add startup warnings for Redis broker mode
  libs/aegra-api/src/aegra_api/main.py
Due: aegra-api

Update docs with correct pool defaults and missing config vars
  .env.example
  docs/guides/worker-architecture.mdx
  docs/reference/environment-variables.mdx
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
Due: aegra-cli

Fix README inaccuracies: Python version and API endpoints
  libs/aegra-api/README.md
  libs/aegra-cli/README.md
Due: none

Add worker architecture to README features, remove unused REDIS_URL from dev compose
  README.md
  docker-compose.dev.yml
Due: none

docs: simplify system overview diagram and add fullscreen links
  docs/guides/worker-architecture.mdx
Due: none

docs: restructure worker architecture diagrams for clarity
  docs/guides/worker-architecture.mdx
  scripts/mermaid_links.py
Due: none

docs: fix Mintlify mermaid rendering issues
  docs/guides/worker-architecture.mdx
Due: none

fix: add missing src/ COPY to Dockerfile template and harden Docker setup
  deployments/docker/Dockerfile
  deployments/test/docker-compose.multi.yml
  docker-compose.yml
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

fix: address review comments — version bump, test robustness, healthcheck fields
  docker-compose.yml
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

revert: undo version bump — versioning handled separately
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
Due: none

feat: heartbeat keep-alive for join/wait endpoints
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/stateless_runs.py
  libs/aegra-api/src/aegra_api/services/run_waiters.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_api/test_heartbeat_keepalive.py
  libs/aegra-api/tests/unit/test_api/test_runs.py
  libs/aegra-api/tests/unit/test_api/test_runs_wait.py
  libs/aegra-api/tests/unit/test_api/test_stateless_runs.py
Due: aegra-api

test: add E2E tests for heartbeat keep-alive endpoints
  libs/aegra-api/tests/e2e/test_runs/test_heartbeat_keepalive_e2e.py
Due: none

test: add slow-agent E2E test proving heartbeat bytes on the wire
  libs/aegra-api/tests/e2e/test_runs/test_heartbeat_keepalive_e2e.py
Due: none

fix: address review comments on heartbeat keep-alive PR
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/stateless_runs.py
  libs/aegra-api/src/aegra_api/services/run_waiters.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/e2e/test_runs/test_heartbeat_keepalive_e2e.py
Due: aegra-api

fix: update integration tests for heartbeat wait flow
  libs/aegra-api/tests/integration/test_api/test_runs_crud.py
  libs/aegra-api/tests/integration/test_api/test_stateless_runs_crud.py
Due: none

fix: derive done-key prefix from REDIS_CHANNEL_PREFIX for multi-tenant isolation
  libs/aegra-api/src/aegra_api/services/run_executor.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
Due: aegra-api

test: add regression tests for done-key channel prefix derivation
  libs/aegra-api/tests/unit/test_services/test_run_executor.py
  libs/aegra-api/tests/unit/test_services/test_worker_executor.py
Due: none

fix: disable asyncpg statement cache for PgBouncer compatibility
  libs/aegra-api/src/aegra_api/core/database.py
Due: aegra-api

Path conditions:
  aegra-api: any of: libs/aegra-api/src/
  aegra-cli: any of: libs/aegra-cli/src/
