Repository ibbybuilds/aegra: changes, and which Codecov flags are due for each by the changed paths.
All: aegra-api, aegra-cli

fix: type annotations, input validation, and uv version bump
  libs/aegra-api/src/aegra_api/utils/setup_logging.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/src/aegra_cli/templates/react-agent/graph.py.template
  libs/aegra-cli/src/aegra_cli/templates/shared/utils.py.template
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/graph.py.template
Due: aegra-api, aegra-cli

fix: replace pip install -e with uv sync in docs
  docs/deployment.md
  libs/aegra-cli/README.md
Due: none

fix: sync docstring template names and add uv hint in developer guide
  docs/developer-guide.md
  libs/aegra-cli/src/aegra_cli/commands/init.py
Due: aegra-cli

docs: showcase aegra init as interactive command
  README.md
  docs/deployment.md
  docs/developer-guide.md
  libs/aegra-api/README.md
  libs/aegra-cli/README.md
Due: none

docs: fix cd path to match interactive aegra init flow
  README.md
  docs/deployment.md
  docs/developer-guide.md
  libs/aegra-api/README.md
  libs/aegra-cli/README.md
Due: none

docs: use uv run aegra dev in all quick-start flows
  CLAUDE.md
  README.md
  docs/deployment.md
  docs/developer-guide.md
  libs/aegra-api/README.md
  libs/aegra-cli/README.md
Due: none

fix: add ModuleType annotation to _assistant_service_mod
  libs/aegra-api/tests/unit/test_services/test_assistant_service_schemas.py
Due: none

fix: add langchain to dev deps and register pytest marks
  libs/aegra-api/pyproject.toml
Due: none

fix: add langchain dev dep for e2e tests and register pytest marks
  libs/aegra-api/pyproject.toml
  uv.lock
Due: none

fix: pass .env file to Docker container via env_file directive
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  uv.lock
Due: aegra-cli

fix: replace DoubleEncodedJSONMiddleware with lightweight ContentTypeFixMiddleware
  deployments/docker/Dockerfile
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/middleware/__init__.py
  libs/aegra-api/src/aegra_api/middleware/content_type_fix.py
  libs/aegra-api/src/aegra_api/middleware/double_encoded_json.py
  libs/aegra-api/tests/README.md
  libs/aegra-api/tests/unit/test_middleware/test_content_type_fix.py
  libs/aegra-api/tests/unit/test_middleware/test_double_encoded_json.py
  libs/aegra-cli/pyproject.toml
Due: aegra-api

feat: add POST /store/namespaces endpoint for LangGraph Studio
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/store.py
  libs/aegra-api/src/aegra_api/models/__init__.py
  libs/aegra-api/src/aegra_api/models/store.py
  libs/aegra-cli/pyproject.toml
Due: aegra-api

docs: update versioning rules for pre-1.0.0 SemVer convention
  CLAUDE.md
Due: none

refactor: extract shared fixtures for middleware tests
  libs/aegra-api/tests/unit/test_middleware/conftest.py
  libs/aegra-api/tests/unit/test_middleware/test_content_type_fix.py
Due: none

test: add integration tests for POST /store/namespaces endpoint
  libs/aegra-api/tests/integration/test_api/test_store_crud.py
Due: none

chore(cli): remove --workers flag and aegra db commands
  CLAUDE.md
  docs/deployment.md
  docs/production-docker-setup.md
  libs/aegra-cli/README.md
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/commands/__init__.py
  libs/aegra-cli/src/aegra_cli/commands/db.py
  libs/aegra-cli/tests/test_cli.py
  libs/aegra-cli/tests/test_db.py
Due: aegra-cli

chore: address PR review feedback
  README.md
  docs/developer-guide.md
  docs/migration-cheatsheet.md
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/cli.py
  uv.lock
Due: aegra-cli

docs: remove alembic commands from root README
  README.md
Due: none

feat(graph): add per-request graph factories (Runtime and RunnableConfig)
  CLAUDE.md
  docs/configuration.md
  docs/developer-guide.md
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/services/graph_factory.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/unit/test_services/test_graph_factory.py
Due: aegra-api

fix(graph): address code review feedback
  libs/aegra-api/src/aegra_api/services/graph_factory.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/unit/test_services/test_graph_factory.py
Due: aegra-api

fix(graph): address second round of code review feedback
  libs/aegra-api/src/aegra_api/services/graph_factory.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/unit/test_services/test_graph_factory.py
Due: aegra-api

fix(graph): address third round of code review feedback
  libs/aegra-api/src/aegra_api/services/graph_factory.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/unit/test_services/test_graph_factory.py
Due: aegra-api

docs: add Mintlify documentation site
  docs/.mintignore
  docs/_legacy/README.md
  docs/_legacy/authentication.md
  docs/_legacy/code-quality.md
  docs/_legacy/configuration.md
  docs/_legacy/custom-routes.md
  docs/_legacy/dependencies.md
  docs/_legacy/deployment.md
  docs/_legacy/developer-guide.md
  docs/_legacy/migration-cheatsheet.md
  docs/_legacy/observability.md
  docs/_legacy/postgres-18-migration.md
  docs/_legacy/production-docker-setup.md
  docs/_legacy/semantic-store.md
  docs/docs.json
  docs/guides/authentication.mdx
  docs/guides/custom-routes.mdx
  docs/guides/dependencies.mdx
  docs/guides/deployment.mdx
  docs/guides/observability.mdx
  docs/guides/semantic-store.mdx
  docs/images/favicon.svg
  docs/images/logo-dark.svg
  docs/images/logo-light.svg
  docs/installation.mdx
  docs/introduction.mdx
  docs/quickstart.mdx
  docs/reference/cli.mdx
  docs/reference/configuration.mdx
  docs/reference/environment-variables.mdx
Due: none

feat(graph): add per-request graph factory support
  CLAUDE.md
  docs/reference/configuration.mdx
  examples/factory_config/__init__.py
  examples/factory_config/graph.py
  examples/factory_config/utils.py
  examples/factory_mcp/__init__.py
  examples/factory_mcp/graph.py
  examples/factory_mcp/utils.py
  examples/factory_runtime/__init__.py
  examples/factory_runtime/graph.py
  examples/factory_runtime/utils.py
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/services/graph_factory.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/fixtures/langgraph.py
  libs/aegra-api/tests/integration/test_services/test_graph_factory_integration.py
  libs/aegra-api/tests/unit/test_services/test_graph_factory.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

test(e2e): add E2E tests for factory graph examples
  aegra.json
  examples/factory_config/graph.py
  examples/factory_config/utils.py
  examples/factory_mcp/utils.py
  examples/factory_runtime/graph.py
  examples/factory_runtime/utils.py
  libs/aegra-api/tests/e2e/test_factories/__init__.py
  libs/aegra-api/tests/e2e/test_factories/test_factory_graphs.py
Due: none

fix: address code review findings across factory and API modules
  examples/factory_config/graph.py
  examples/factory_mcp/graph.py
  examples/factory_runtime/graph.py
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/services/graph_factory.py
Due: aegra-api

feat(graph): add ServerRuntime[T] context passthrough for factory graphs
  CLAUDE.md
  docs/reference/configuration.mdx
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/services/graph_factory.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/e2e/test_factories/test_factory_graphs.py
  libs/aegra-api/tests/integration/test_services/test_graph_factory_integration.py
  libs/aegra-api/tests/unit/test_services/test_graph_factory.py
Due: aegra-api

fix(api): decode literal \uXXXX sequences in SSE output
  libs/aegra-api/src/aegra_api/core/sse.py
  libs/aegra-api/tests/unit/test_core/test_sse.py
Due: aegra-api

test(api): fix ascii escape preservation test to exercise the actual code path
  libs/aegra-api/tests/unit/test_core/test_sse.py
Due: none

fix(api): correctly store and replay updates, debug, custom, and messages events
  libs/aegra-api/src/aegra_api/services/event_converter.py
  libs/aegra-api/src/aegra_api/services/streaming_service.py
  libs/aegra-api/tests/unit/test_services/test_event_converter.py
  libs/aegra-api/tests/unit/test_services/test_event_converter_namespace.py
  libs/aegra-api/tests/unit/test_services/test_streaming_service.py
Due: aegra-api

feat(observability): propagate user, session, and graph metadata to OTEL traces
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/observability/otel.py
  libs/aegra-api/src/aegra_api/observability/span_enrichment.py
  libs/aegra-api/tests/unit/test_observability/test_otel.py
  libs/aegra-api/tests/unit/test_observability/test_span_enrichment.py
Due: aegra-api

feat(examples): consolidate factory examples into unified factory with ServerRuntime[T]
  aegra.json
  docs/reference/configuration.mdx
  examples/factory/__init__.py
  examples/factory/context.py
  examples/factory/graph.py
  examples/factory/tools.py
  examples/factory/utils.py
  examples/factory_config/graph.py
  examples/factory_mcp/__init__.py
  examples/factory_mcp/graph.py
  examples/factory_mcp/utils.py
  examples/factory_runtime/__init__.py
  examples/factory_runtime/graph.py
  examples/factory_runtime/utils.py
  libs/aegra-api/pyproject.toml
  libs/aegra-api/tests/e2e/test_factories/test_factory_graphs.py
  uv.lock
Due: none

docs: remove internal type references from configuration.mdx
  docs/reference/configuration.mdx
Due: none

refactor(factory): use Runtime[T] in nodes, ServerRuntime[T] for structure only
  docs/reference/configuration.mdx
  examples/factory/context.py
  examples/factory/graph.py
Due: none

fix(factory): defensive guards for context coercion, MCP availability, and edge cases
  examples/factory/graph.py
  examples/factory/tools.py
  examples/factory/utils.py
Due: none

docs: auto-update OpenAPI spec
  docs/openapi.json
Due: none

feat(api): Use thread name from metada if provided
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
Due: aegra-api

Test creating threads without thread_name
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
Due: none

feat: created - hooks, tests for hooks, example hooks, and bumpped the version
  aegra.json
  examples/hooks_example.py
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/config.py
  libs/aegra-api/src/aegra_api/core/hooks.py
  libs/aegra-api/src/aegra_api/hooks.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/integration/test_hooks_integration.py
  libs/aegra-api/tests/integration/test_streaming_errors.py
  libs/aegra-api/tests/unit/test_api/test_runs_streaming.py
  libs/aegra-api/tests/unit/test_core/test_hooks.py
Due: aegra-api

fix(api): handle surrogate pairs in literal unicode escape decoding
  libs/aegra-api/src/aegra_api/core/sse.py
  libs/aegra-api/tests/unit/test_core/test_sse.py
Due: aegra-api

Path conditions:
  aegra-api: any of: libs/aegra-api/src/
  aegra-cli: any of: libs/aegra-cli/src/
