Repository ibbybuilds/aegra: changes, and which Codecov flags are due for each by the changed paths.
All: aegra-api, aegra-cli

codecov.yml:

coverage:
  # Badge color thresholds: red < 50%, yellow 50-70%, green >= 70%
  range: 50..70
  round: down
  precision: 2
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 2%
      # Per-package coverage status
      aegra-api:
        flags:
          - aegra-api
        target: auto
        threshold: 2%
      aegra-cli:
        flags:
          - aegra-cli
        target: auto
        threshold: 2%
    patch:
      default:
        informational: true

# Define flags for monorepo packages
flags:
  aegra-api:
    paths:
      - libs/aegra-api/src/
    carryforward: true
  aegra-cli:
    paths:
      - libs/aegra-cli/src/
    carryforward: true

comment:
  # Use condensed layout for cleaner, more focused PR comments
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default  # Update existing comment, or post new if doesn't exist
  # Only post if coverage changes (reduces noise)
  require_changes: true
  # Require both base and head reports for meaningful comparison
  require_base: true
  require_head: true
  # Hide project coverage, focus on patch/diff coverage (cleaner view)
  hide_project_coverage: true

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

fix(api): address review comments on stored-to-SSE event conversion
  libs/aegra-api/src/aegra_api/services/event_converter.py
  libs/aegra-api/tests/unit/test_services/test_event_converter.py
Due: aegra-api

style(api): simplify compound elif condition with in-tuple check
  libs/aegra-api/src/aegra_api/services/event_converter.py
Due: aegra-api

fix(api): preserve falsy chunk payloads when replaying updates and custom events
  libs/aegra-api/src/aegra_api/services/event_converter.py
  libs/aegra-api/tests/unit/test_services/test_event_converter.py
Due: aegra-api

refactor(api): replace Any with SSEEvent type in convert_stored_to_sse signature
  libs/aegra-api/src/aegra_api/services/event_converter.py
Due: aegra-api

fix(api): guard against None debug payload and mark run_id param as unused
  libs/aegra-api/src/aegra_api/services/event_converter.py
  libs/aegra-api/src/aegra_api/services/streaming_service.py
  libs/aegra-api/tests/unit/test_services/test_event_converter.py
Due: aegra-api

fix(observability): address code review feedback on span enrichment PR
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/unit/test_observability/test_span_enrichment.py
Due: aegra-api

refactor(observability): extract make_run_trace_context helper
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/observability/span_enrichment.py
  libs/aegra-api/tests/unit/test_observability/test_span_enrichment.py
Due: aegra-api

feat(api): add include_values param to thread history endpoint
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/models/threads.py
  libs/aegra-api/tests/integration/test_api/test_threads_history.py
  libs/aegra-api/tests/unit/test_models/test_thread_history_request.py
Due: aegra-api

fix(db): strip null bytes from SSE event data before JSONB insert
  libs/aegra-api/src/aegra_api/services/event_store.py
  libs/aegra-api/tests/integration/test_services/test_event_store_integration.py
  libs/aegra-api/tests/unit/test_services/test_event_store.py
Due: aegra-api

fix(langgraph_service): deep-copy graph config to prevent base graph mutation (#224)
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/integration/test_services/test_graph_factory_integration.py
  libs/aegra-api/tests/unit/test_services/test_langgraph_service.py
Due: aegra-api

chore: bump version to 0.7.5
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
Due: none

docs: auto-update OpenAPI spec
  docs/openapi.json
  uv.lock
Due: none

feat!: change default port to 2026 and respect PORT/HOST env vars
  .env.example
  .github/workflows/e2e.yml
  CLAUDE.md
  README.md
  deployments/docker/Dockerfile
  docker-compose.yml
  docs/getting-started.mdx
  docs/guides/assistants.mdx
  docs/guides/contributing.mdx
  docs/guides/deployment.mdx
  docs/guides/human-in-the-loop.mdx
  docs/guides/semantic-store.mdx
  docs/guides/store.mdx
  docs/guides/streaming.mdx
  docs/guides/threads-and-state.mdx
  docs/installation.mdx
  docs/migration.mdx
  docs/quickstart.mdx
  docs/reference/cli.mdx
  docs/reference/environment-variables.mdx
  libs/aegra-api/README.md
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-cli/README.md
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  libs/aegra-cli/tests/test_cli.py
  libs/aegra-cli/tests/test_init.py
  uv.lock
Due: aegra-api, aegra-cli

fix: address review feedback for port/host changes
  deployments/docker/Dockerfile
  docs/guides/contributing.mdx
  docs/guides/deployment.mdx
  libs/aegra-api/README.md
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/tests/test_init.py
  uv.lock
Due: aegra-api, aegra-cli

fix: use static EXPOSE 2026 in Dockerfiles (build-time only)
  deployments/docker/Dockerfile
  docs/guides/deployment.mdx
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

feat!: change default port to 2026 and respect PORT/HOST env vars
  .env.example
  .github/workflows/e2e.yml
  CLAUDE.md
  README.md
  deployments/docker/Dockerfile
  docker-compose.yml
  docs/getting-started.mdx
  docs/guides/assistants.mdx
  docs/guides/contributing.mdx
  docs/guides/deployment.mdx
  docs/guides/human-in-the-loop.mdx
  docs/guides/semantic-store.mdx
  docs/guides/store.mdx
  docs/guides/streaming.mdx
  docs/guides/threads-and-state.mdx
  docs/installation.mdx
  docs/migration.mdx
  docs/quickstart.mdx
  docs/reference/cli.mdx
  docs/reference/environment-variables.mdx
  libs/aegra-api/README.md
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-cli/README.md
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  libs/aegra-cli/tests/test_cli.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-api, aegra-cli

fix: comment out SERVER_URL in env examples to enable derivation
  .env.example
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
Due: aegra-cli

docs: fix folder structure to match aegra init output
  docs/guides/authentication.mdx
  docs/guides/custom-routes.mdx
  docs/guides/dependencies.mdx
  docs/guides/semantic-store.mdx
  docs/installation.mdx
  docs/reference/configuration.mdx
Due: none

fix: show friendly error for invalid PORT/HOST env values
  libs/aegra-cli/src/aegra_cli/cli.py
Due: aegra-cli

fix: use curl for docker-compose healthcheck (fixes YAML parse error)
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

feat: add restart: unless-stopped to docker-compose services
  docker-compose.yml
  docs/guides/deployment.mdx
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

fix: address deep code review findings
  deployments/docker/Dockerfile
  docs/guides/deployment.mdx
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_settings.py
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/tests/test_cli.py
Due: aegra-api, aegra-cli

docs: auto-update OpenAPI spec
  docs/openapi.json
Due: none

ci: parallelize release builds, single approval gate
  .github/workflows/release.yml
Due: none

fix: set requires-python to >=3.12 in project templates
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/templates/react-agent/pyproject.toml.template
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/pyproject.toml.template
  uv.lock
Due: aegra-cli

fix: correct approval gate comment in release workflow
  .github/workflows/release.yml
Due: none

fix: use Python 3.12 in generated Dockerfile and fix Windows event loop
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  uv.lock
Due: aegra-api, aegra-cli

refactor: remove Windows event loop policy, document limitation instead
  docs/installation.mdx
  libs/aegra-api/src/aegra_api/main.py
Due: aegra-api

feat: add Redis pub/sub broker for cross-instance SSE streaming (v0.9.0)
  .env.example
  docker-compose.yml
  docs/architecture-streaming.md
  docs/streaming-architecture-v2.excalidraw
  libs/aegra-api/alembic/versions/20260311000000_drop_run_events_table.py
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/core/orm.py
  libs/aegra-api/src/aegra_api/core/redis_manager.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/services/base_broker.py
  libs/aegra-api/src/aegra_api/services/broker.py
  libs/aegra-api/src/aegra_api/services/event_converter.py
  libs/aegra-api/src/aegra_api/services/event_store.py
  libs/aegra-api/src/aegra_api/services/redis_broker.py
  libs/aegra-api/src/aegra_api/services/streaming_service.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/integration/test_services/test_event_store_integration.py
  libs/aegra-api/tests/integration/test_services/test_streaming_hitl.py
  libs/aegra-api/tests/integration/test_streaming_errors.py
  libs/aegra-api/tests/unit/test_core/test_redis_manager.py
  libs/aegra-api/tests/unit/test_main.py
  libs/aegra-api/tests/unit/test_services/test_broker_factory.py
  libs/aegra-api/tests/unit/test_services/test_broker_replay.py
  libs/aegra-api/tests/unit/test_services/test_event_converter.py
  libs/aegra-api/tests/unit/test_services/test_event_store.py
  libs/aegra-api/tests/unit/test_services/test_redis_broker.py
  libs/aegra-api/tests/unit/test_services/test_streaming_service.py
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  libs/aegra-cli/tests/test_init.py
  uv.lock
Due: aegra-api, aegra-cli

fix: address deep review bugs in Redis broker and streaming service
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/services/broker.py
  libs/aegra-api/src/aegra_api/services/redis_broker.py
  libs/aegra-api/src/aegra_api/services/streaming_service.py
  libs/aegra-api/tests/integration/test_services/test_streaming_hitl.py
  libs/aegra-api/tests/unit/test_services/test_redis_broker.py
  libs/aegra-api/tests/unit/test_services/test_streaming_service.py
Due: aegra-api

fix: address CodeRabbit review findings
  docs/streaming-architecture-v2.excalidraw
  libs/aegra-api/alembic/versions/20260311000000_drop_run_events_table.py
  libs/aegra-api/src/aegra_api/services/redis_broker.py
  libs/aegra-api/src/aegra_api/services/streaming_service.py
  libs/aegra-api/tests/integration/test_streaming_errors.py
  libs/aegra-api/tests/unit/test_services/test_streaming_service.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-api

fix: address follow-up CodeRabbit review findings
  libs/aegra-api/src/aegra_api/services/redis_broker.py
  libs/aegra-api/src/aegra_api/services/streaming_service.py
  libs/aegra-api/tests/integration/test_services/test_streaming_hitl.py
  libs/aegra-api/tests/unit/test_services/test_redis_broker.py
  libs/aegra-api/tests/unit/test_services/test_streaming_service.py
Due: aegra-api

fix: log Redis errors in _check_end_in_buffer and set _finished
  libs/aegra-api/src/aegra_api/services/redis_broker.py
Due: aegra-api

fix: refactor run cancellation with global active_runs registry and improve Redis broker reliability
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/stateless_runs.py
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/core/active_runs.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/services/base_broker.py
  libs/aegra-api/src/aegra_api/services/broker.py
  libs/aegra-api/src/aegra_api/services/redis_broker.py
  libs/aegra-api/src/aegra_api/services/streaming_service.py
  libs/aegra-api/tests/integration/test_cancel_run.py
  libs/aegra-api/tests/unit/test_services/test_broker.py
  libs/aegra-api/tests/unit/test_services/test_redis_broker.py
  libs/aegra-api/tests/unit/test_services/test_streaming_service.py
Due: aegra-api

docs: update python version in readme prerequisites to 3.12
  README.md
Due: none
