Repository ibbybuilds/aegra: changes, and which Codecov flags are due for each by the changed paths.
All: aegra-api, aegra-cli

codecov.yml:

coverage:
  # Badge color thresholds: red < 50%, yellow 50-70%, green >= 70%
  range: 50..70
  round: down
  precision: 2
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 2%
      # Per-package coverage status
      aegra-api:
        flags:
          - aegra-api
        target: auto
        threshold: 2%
      aegra-cli:
        flags:
          - aegra-cli
        target: auto
        threshold: 2%
    patch:
      default:
        informational: true

# Define flags for monorepo packages
flags:
  aegra-api:
    paths:
      - libs/aegra-api/src/
    carryforward: true
  aegra-cli:
    paths:
      - libs/aegra-cli/src/
    carryforward: true

comment:
  # Use condensed layout for cleaner, more focused PR comments
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default  # Update existing comment, or post new if doesn't exist
  # Only post if coverage changes (reduces noise)
  require_changes: true
  # Require both base and head reports for meaningful comparison
  require_base: true
  require_head: true
  # Hide project coverage, focus on patch/diff coverage (cleaner view)
  hide_project_coverage: true

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

fix: address PR #258 review — native JS checkpointer, concurrency, lifecycle
  aegra.json
  deployments/docker/Dockerfile
  docker-compose.yml
  docs/guides/langgraphjs.mdx
  examples/langgraphjs_chatbot/README.md
  examples/langgraphjs_chatbot/graph.ts
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/services/js_bridge.py
  libs/aegra-api/src/aegra_api/services/js_graph_wrapper.py
  libs/aegra-api/tests/e2e/test_js_graph/__init__.py
  libs/aegra-api/tests/e2e/test_js_graph/test_js_graph_e2e.py
  libs/aegra-api/tests/unit/test_services/test_js_bridge.py
  libs/aegra-api/tests/unit/test_services/test_js_graph_wrapper.py
  libs/aegra-cli/src/aegra_cli/templates/langgraphjs-chatbot/graph.ts.template
  libs/aegra-js-bridge/package-lock.json
  libs/aegra-js-bridge/package.json
  libs/aegra-js-bridge/src/graph-executor.ts
  libs/aegra-js-bridge/src/graph-loader.ts
  libs/aegra-js-bridge/src/index.ts
  uv.lock
Due: aegra-api, aegra-cli

fix(api): tighten threads search per review
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/models/threads.py
  libs/aegra-api/tests/e2e/test_threads/test_search.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
  libs/aegra-api/tests/unit/test_api/test_threads_search_sort.py
Due: aegra-api

feat(db): add GIN jsonb_path_ops index on thread.metadata_json
  libs/aegra-api/alembic/versions/20260428000000_add_gin_index_on_thread_metadata.py
Due: none

bug: pass user object directly instead of serialized dict
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/unit/test_services/test_langgraph_service.py
Due: aegra-api

Review fixes
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/unit/test_services/test_langgraph_service.py
Due: aegra-api

chore: bump version to 0.9.6
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

fix(runs): enforce thread ownership before creating runs
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/e2e/manual_auth_tests/test_thread_user_isolation_e2e.py
  libs/aegra-api/tests/integration/test_api/test_runs_crud.py
  libs/aegra-api/tests/unit/test_api/test_runs.py
  libs/aegra-api/tests/unit/test_api/test_runs_streaming.py
  libs/aegra-api/tests/unit/test_api/test_runs_wait.py
Due: aegra-api

fix(runs): enforce thread ownership before creating runs (#337)
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/e2e/manual_auth_tests/test_thread_user_isolation_e2e.py
  libs/aegra-api/tests/integration/test_api/test_runs_crud.py
  libs/aegra-api/tests/unit/test_api/test_runs.py
  libs/aegra-api/tests/unit/test_api/test_runs_streaming.py
  libs/aegra-api/tests/unit/test_api/test_runs_wait.py
Due: aegra-api

chore: bump version to 0.9.7
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/e2e/manual_auth_tests/test_thread_user_isolation_e2e.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

chore: bump version to 0.9.7 (#338)
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/e2e/manual_auth_tests/test_thread_user_isolation_e2e.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

fix(auth): Add LRU cache to get_auth_backend function
  libs/aegra-api/src/aegra_api/core/auth_middleware.py
Due: aegra-api

chore(security): add SECURITY.md and CodeQL workflow
  .github/workflows/codeql.yml
  SECURITY.md
Due: none

chore(security): add SECURITY.md and CodeQL workflow (#341)
  .github/workflows/codeql.yml
  SECURITY.md
Due: none

fix(observability): address PR review round 3
  docs/guides/worker-architecture.mdx
  docs/reference/environment-variables.mdx
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/core/cancellation_state.py
  libs/aegra-api/src/aegra_api/core/redis_manager.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/observability/metrics.py
  libs/aegra-api/src/aegra_api/services/lease_reaper.py
  libs/aegra-api/src/aegra_api/services/redis_broker.py
  libs/aegra-api/src/aegra_api/services/run_cancellation.py
  libs/aegra-api/src/aegra_api/services/run_executor.py
  libs/aegra-api/src/aegra_api/services/run_preparation.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
  libs/aegra-api/tests/conftest.py
  libs/aegra-api/tests/e2e/test_worker_metrics.py
  libs/aegra-api/tests/integration/test_api/test_runs_crud.py
  libs/aegra-api/tests/integration/test_cancel_run.py
  libs/aegra-api/tests/integration/test_worker_metrics.py
  libs/aegra-api/tests/unit/test_observability/test_worker_metrics.py
  libs/aegra-api/tests/unit/test_services/test_lease_reaper.py
  libs/aegra-api/tests/unit/test_services/test_run_cancellation.py
  libs/aegra-api/tests/unit/test_services/test_run_executor.py
  libs/aegra-api/tests/unit/test_services/test_worker_executor.py
Due: aegra-api

fix(observability): address CodeRabbit review comments
  libs/aegra-api/src/aegra_api/core/cancellation_state.py
  libs/aegra-api/src/aegra_api/services/lease_reaper.py
  libs/aegra-api/src/aegra_api/services/run_cancellation.py
  libs/aegra-api/src/aegra_api/services/run_executor.py
  libs/aegra-api/tests/e2e/test_worker_metrics.py
  libs/aegra-api/tests/unit/test_observability/test_worker_metrics.py
  libs/aegra-api/tests/unit/test_services/test_lease_reaper.py
  libs/aegra-api/tests/unit/test_services/test_run_cancellation.py
  libs/aegra-api/tests/unit/test_services/test_run_executor.py
Due: aegra-api

test(observability): assert runs_in_flight stays non-negative on corruption path
  libs/aegra-api/tests/unit/test_observability/test_worker_metrics.py
Due: none

feat(migrations): make startup migrations skippable and lock-free
  .env.example
  docs/guides/deployment.mdx
  libs/aegra-api/src/aegra_api/core/migrations.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_main.py
  libs/aegra-api/tests/unit/test_migrations.py
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/commands/db.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
Due: aegra-api, aegra-cli

fix(migrations): address greptile review
  libs/aegra-api/src/aegra_api/core/migrations.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/tests/unit/test_migrations.py
Due: aegra-api

test: address CodeQL dual-import flag
  libs/aegra-api/tests/unit/test_main.py
Due: none

fix(migrations): use psycopg directly for precheck so multi-host URLs work
  libs/aegra-api/src/aegra_api/core/migrations.py
  libs/aegra-api/tests/unit/test_migrations.py
Due: aegra-api

docs(claude): add Database & Migrations strict rules; lock multi-host contract in tests
  CLAUDE.md
  libs/aegra-api/tests/unit/test_settings.py
Due: none

docs: tighten verbose comments and docstrings
  .env.example
  CLAUDE.md
  libs/aegra-api/src/aegra_api/core/migrations.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_migrations.py
  libs/aegra-api/tests/unit/test_settings.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
Due: aegra-api, aegra-cli

fix(migrations): bypass MigrationContext for revision precheck
  libs/aegra-api/src/aegra_api/core/migrations.py
  libs/aegra-api/tests/unit/test_main.py
  libs/aegra-api/tests/unit/test_migrations.py
  libs/aegra-api/tests/unit/test_settings.py
Due: aegra-api

chore: bump version to 0.9.8
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

feat(migrations): make startup migrations skippable and lock-free (#344)
  .env.example
  CLAUDE.md
  docs/guides/deployment.mdx
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/core/migrations.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_main.py
  libs/aegra-api/tests/unit/test_migrations.py
  libs/aegra-api/tests/unit/test_settings.py
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/commands/db.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  uv.lock
Due: aegra-api, aegra-cli

fix(cli): defer aegra_api imports in `aegra db` subcommands
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/commands/db.py
  uv.lock
Due: aegra-cli

fix(cli): defer aegra_api imports in `aegra db` subcommands (#345)
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/commands/db.py
  uv.lock
Due: aegra-cli

fix: restore checkpoint-based fork/resume (POST /runs and /state) (#321)
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/models/run_job.py
  libs/aegra-api/src/aegra_api/models/runs.py
  libs/aegra-api/src/aegra_api/services/run_preparation.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
  libs/aegra-api/tests/unit/test_models/test_runcreate_validation.py
  libs/aegra-api/tests/unit/test_services/test_run_job.py
Due: aegra-api

fix: tighten checkpoint-fork follow-ups from #321
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/models/runs.py
  libs/aegra-api/src/aegra_api/services/run_preparation.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

style: ruff format
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
Due: aegra-api

test: cover checkpoint dict gate variant + trim verbose comment
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
Due: aegra-api

docs: add code comment max-2-lines rule to CLAUDE.md
  CLAUDE.md
Due: none

docs: trim verbose test docstrings per max-2-lines rule
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
Due: none

fix: include 'checkpoint' in RunCreate exclusivity error message
  libs/aegra-api/src/aegra_api/models/runs.py
  libs/aegra-api/tests/unit/test_models/test_runcreate_validation.py
Due: aegra-api

fix: checkpoint-fork follow-ups + bump 0.9.10 (#346)
  CLAUDE.md
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/models/runs.py
  libs/aegra-api/src/aegra_api/services/run_preparation.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
  libs/aegra-api/tests/unit/test_models/test_runcreate_validation.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

fix: make Run.input nullable for checkpoint-only resume
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/models/runs.py
  libs/aegra-api/tests/unit/test_models/test_run_input_nullable.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

fix: make Run.input nullable for checkpoint-only resume (#347)
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/models/runs.py
  libs/aegra-api/tests/unit/test_models/test_run_input_nullable.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

docs: auto-update OpenAPI spec
  docs/openapi.json
Due: none

Fix error handling in authentication middleware
  libs/aegra-api/src/aegra_api/core/auth_middleware.py
Due: aegra-api

Maintainer comment fixes
  libs/aegra-api/src/aegra_api/api/store.py
  libs/aegra-api/tests/integration/test_api/test_store_crud.py
Due: aegra-api
