Repository ibbybuilds/aegra: changes, and which Codecov flags are due for each by the changed paths.
All: aegra-api, aegra-cli

feat(cron): Enhance cron settings and validation
  .env.example
  docs/guides/cron.mdx
  docs/reference/environment-variables.mdx
  libs/aegra-api/alembic/versions/20260504000000_cron_cascade_and_claim.py
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/crons.py
  libs/aegra-api/src/aegra_api/core/orm.py
  libs/aegra-api/src/aegra_api/models/crons.py
  libs/aegra-api/src/aegra_api/services/cron_scheduler.py
  libs/aegra-api/src/aegra_api/services/cron_service.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/e2e/test_crons/test_crons.py
  libs/aegra-api/tests/integration/test_api/test_crons_crud.py
  libs/aegra-api/tests/unit/conftest.py
  libs/aegra-api/tests/unit/test_models/test_cron_validation.py
  libs/aegra-api/tests/unit/test_services/test_cron_review_fixes.py
  libs/aegra-api/tests/unit/test_services/test_cron_scheduler.py
  libs/aegra-api/tests/unit/test_services/test_cron_service.py
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  uv.lock
Due: aegra-api, aegra-cli

fix(api): honor sort params and auth-handler filters in /assistants/search
  libs/aegra-api/alembic/versions/20260504000000_add_gin_index_on_assistant_metadata.py
  libs/aegra-api/src/aegra_api/api/assistants.py
  libs/aegra-api/src/aegra_api/models/assistants.py
  libs/aegra-api/src/aegra_api/services/assistant_service.py
  libs/aegra-api/tests/e2e/test_assistants/test_assistant_search.py
  libs/aegra-api/tests/integration/test_api/test_assistants_crud.py
  libs/aegra-api/tests/unit/test_api/test_assistants_search_sort.py
Due: aegra-api

fix(api): drop unused _ALLOWED_SORT_FIELDS constant
  libs/aegra-api/src/aegra_api/api/assistants.py
Due: aegra-api

fix(api): merge nested+flat handler filters and stop capping list pagination
  libs/aegra-api/src/aegra_api/api/assistants.py
  libs/aegra-api/src/aegra_api/services/assistant_service.py
  libs/aegra-api/tests/integration/test_api/test_assistants_crud.py
  libs/aegra-api/tests/unit/test_api/test_assistants_search_sort.py
Due: aegra-api

fix(api): guard non-mapping value['metadata'] and cover list metadata branch
  libs/aegra-api/src/aegra_api/api/assistants.py
  libs/aegra-api/tests/integration/test_services/test_assistant_service_db.py
  libs/aegra-api/tests/unit/test_api/test_assistants_search_sort.py
Due: aegra-api

feat(observability): propagate run metadata from RunCreate to OTEL trace context
  libs/aegra-api/src/aegra_api/models/run_job.py
  libs/aegra-api/src/aegra_api/observability/span_enrichment.py
  libs/aegra-api/src/aegra_api/services/local_executor.py
  libs/aegra-api/src/aegra_api/services/run_preparation.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
  libs/aegra-api/tests/unit/test_api/test_runs_wait.py
  libs/aegra-api/tests/unit/test_observability/test_span_enrichment.py
  libs/aegra-api/tests/unit/test_services/test_run_job.py
  libs/aegra-api/tests/unit/test_services/test_worker_executor.py
Due: aegra-api

test(observability): address CodeRabbit review on PR #335
  libs/aegra-api/tests/unit/test_observability/test_span_enrichment.py
Due: none

feat(api): add POST /threads/{id}/copy endpoint
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/services/thread_copy.py
  libs/aegra-api/tests/unit/test_services/test_thread_copy.py
Due: aegra-api

fix(api): tighten thread_copy atomicity, identifier safety, and error handling
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/services/thread_copy.py
  libs/aegra-api/tests/unit/test_services/test_thread_copy.py
Due: aegra-api

fix(observability): tighten merge_run_metadata + worker original_request_id
  libs/aegra-api/src/aegra_api/observability/span_enrichment.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
  libs/aegra-api/tests/unit/test_observability/test_span_enrichment.py
  libs/aegra-api/tests/unit/test_services/test_worker_executor.py
Due: aegra-api

fix(api): commit session before reloading copied thread
  libs/aegra-api/src/aegra_api/api/threads.py
Due: aegra-api

fix(observability): warn on non-reserved system_metadata collisions
  libs/aegra-api/src/aegra_api/observability/span_enrichment.py
  libs/aegra-api/tests/unit/test_observability/test_span_enrichment.py
Due: aegra-api

feat(observability): bound metadata schema + add no-mock E2E coverage
  libs/aegra-api/src/aegra_api/models/runs.py
  libs/aegra-api/tests/unit/test_models/test_runcreate_validation.py
  libs/aegra-api/tests/unit/test_observability/test_span_enrichment.py
Due: aegra-api

fix(api): address SSE keepalive PR review feedback
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/stateless_runs.py
  libs/aegra-api/src/aegra_api/core/sse.py
  libs/aegra-api/src/aegra_api/services/streaming_service.py
  libs/aegra-api/tests/e2e/test_runs/test_worker_e2e.py
  libs/aegra-api/tests/integration/test_api/test_stateless_runs_crud.py
  libs/aegra-api/tests/unit/test_api/test_runs_streaming.py
  libs/aegra-api/tests/unit/test_api/test_stateless_runs.py
Due: aegra-api

fix(api): tighten thread_copy schema resolution, isolation, and metadata invariants
  libs/aegra-api/src/aegra_api/services/thread_copy.py
  libs/aegra-api/tests/unit/test_services/test_thread_copy.py
Due: aegra-api

fix(api): address SSE keepalive follow-up review comments
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/stateless_runs.py
  libs/aegra-api/tests/e2e/test_runs/test_worker_e2e.py
  libs/aegra-api/tests/unit/test_api/test_stateless_runs.py
Due: aegra-api

fix(api): capture handle_event return value in copy_thread
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
Due: aegra-api

test(api): assert ID consistency between handler payload and copy call
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
Due: none

fix(observability): address PR #335 review — Witaly3
  docs/guides/observability.mdx
  libs/aegra-api/src/aegra_api/models/run_job.py
  libs/aegra-api/src/aegra_api/models/runs.py
  libs/aegra-api/src/aegra_api/observability/span_enrichment.py
Due: aegra-api

fix(models): shorten run_metadata comment to 2-line cap — addresses Witaly3 review on PR #335
  libs/aegra-api/src/aegra_api/models/run_job.py
Due: aegra-api

feat(scripts): add LangGraph checkpoint and runs cleanup script
  scripts/checkpoint_cleanup.py
Due: none

chore(api): preemptive compliance pass on PR #349
  docs/guides/threads-and-state.mdx
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/services/thread_copy.py
  libs/aegra-api/tests/e2e/test_threads/test_thread_copy.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

fix: alembic env.py crashes on URL-encoded password (0.9.12)
  docs/openapi.json
  libs/aegra-api/alembic/env.py
  libs/aegra-api/pyproject.toml
  libs/aegra-api/tests/unit/test_alembic_env_percent_password.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

review: setdefault + is-not-None for fallback semantics
  libs/aegra-api/alembic/env.py
Due: none

docs: auto-update OpenAPI spec
  docs/openapi.json
Due: none

chore: bump version to 0.9.13
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.9.14
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

fix: escape LIKE wildcards in assistant search to prevent LIKE injection (CWE-89)
  libs/aegra-api/src/aegra_api/services/assistant_service.py
Due: aegra-api

fix(observability): observe run_execution_seconds for user-cancel + race fix
  docs/guides/worker-architecture.mdx
  libs/aegra-api/src/aegra_api/core/cancellation_state.py
  libs/aegra-api/src/aegra_api/services/lease_reaper.py
  libs/aegra-api/src/aegra_api/services/local_executor.py
  libs/aegra-api/src/aegra_api/services/run_executor.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
  libs/aegra-api/tests/unit/test_observability/test_worker_metrics.py
  libs/aegra-api/tests/unit/test_services/test_executor.py
  libs/aegra-api/tests/unit/test_services/test_lease_reaper.py
  libs/aegra-api/tests/unit/test_services/test_run_executor.py
  libs/aegra-api/tests/unit/test_services/test_worker_executor.py
Due: aegra-api

test(observability): suppress CodeQL no-effect on await task
  libs/aegra-api/tests/unit/test_observability/test_worker_metrics.py
  libs/aegra-api/tests/unit/test_services/test_executor.py
Due: none

test(observability): capture await task result to silence CodeQL no-effect
  libs/aegra-api/tests/unit/test_observability/test_worker_metrics.py
  libs/aegra-api/tests/unit/test_services/test_executor.py
Due: none

address review: trim _escape_like docstring and add regression tests
  libs/aegra-api/src/aegra_api/services/assistant_service.py
  libs/aegra-api/tests/unit/test_services/test_assistant_service_escape_like.py
Due: aegra-api

fix(models): use default_factory for assistant config/context/metadata fields
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/models/assistants.py
  libs/aegra-api/tests/unit/test_models/test_assistants_defaults.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

fix(migrations): rebuild GIN metadata indexes CONCURRENTLY
  libs/aegra-api/alembic/versions/20260511000000_rebuild_thread_metadata_gin_concurrently.py
  libs/aegra-api/alembic/versions/20260511000001_rebuild_assistant_metadata_gin_concurrently.py
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

fix(auth): compile handler filters into column and metadata predicates
  docs/guides/authentication.mdx
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/assistants.py
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/core/auth_filters.py
  libs/aegra-api/src/aegra_api/services/assistant_service.py
  libs/aegra-api/tests/integration/test_api/test_assistants_crud.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
  libs/aegra-api/tests/unit/test_api/test_assistants_search_sort.py
  libs/aegra-api/tests/unit/test_core/test_auth_filters.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

fix(migrations): recreate GIN indexes in downgrade()
  libs/aegra-api/alembic/versions/20260511000000_rebuild_thread_metadata_gin_concurrently.py
  libs/aegra-api/alembic/versions/20260511000001_rebuild_assistant_metadata_gin_concurrently.py
Due: none

test(auth): simplify graph_id metadata-leak assertion
  libs/aegra-api/tests/integration/test_api/test_assistants_crud.py
Due: none

Path conditions:
  aegra-api: any of: libs/aegra-api/src/
  aegra-cli: any of: libs/aegra-cli/src/
