Repository ibbybuilds/aegra: changes, and which Codecov flags are due for each by the changed paths.
All: aegra-api, aegra-cli

codecov.yml:

coverage:
  # Badge color thresholds: red < 50%, yellow 50-70%, green >= 70%
  range: 50..70
  round: down
  precision: 2
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 2%
      # Per-package coverage status
      aegra-api:
        flags:
          - aegra-api
        target: auto
        threshold: 2%
      aegra-cli:
        flags:
          - aegra-cli
        target: auto
        threshold: 2%
    patch:
      default:
        informational: true

# Define flags for monorepo packages
flags:
  aegra-api:
    paths:
      - libs/aegra-api/src/
    carryforward: true
  aegra-cli:
    paths:
      - libs/aegra-cli/src/
    carryforward: true

comment:
  # Use condensed layout for cleaner, more focused PR comments
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default  # Update existing comment, or post new if doesn't exist
  # Only post if coverage changes (reduces noise)
  require_changes: true
  # Require both base and head reports for meaningful comparison
  require_base: true
  require_head: true
  # Hide project coverage, focus on patch/diff coverage (cleaner view)
  hide_project_coverage: true

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

fix: use correct SQLAlchemy asyncpg param and bump to 0.9.1
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/core/database.py
  libs/aegra-cli/pyproject.toml
Due: aegra-api

fix: use prepare_threshold=None to actually disable prepared statements
  libs/aegra-api/src/aegra_api/core/database.py
  libs/aegra-api/tests/unit/test_core/test_database_manager.py
Due: aegra-api

fix: update auth example handler signatures and document graph auth access
  docs/guides/authentication.mdx
  examples/jwt_mock_auth_example.py
  uv.lock
Due: none

refactor: add type annotations to auth example handlers
  examples/jwt_mock_auth_example.py
Due: none

fix: handle namespaced permissions in docs example
  docs/guides/authentication.mdx
Due: none

docs: add factory graph and node auth access patterns
  docs/guides/authentication.mdx
Due: none

docs: clarify factory runtime.user has full User model with extras
  docs/guides/authentication.mdx
Due: none

docs: auto-update OpenAPI spec
  docs/openapi.json
Due: none

fix: add format_exc_info to structlog shared processors (#295)
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/utils/setup_logging.py
  libs/aegra-api/tests/unit/test_utils/test_setup_logging.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

fix: comprehensive logging processor chain audit
  libs/aegra-api/src/aegra_api/utils/setup_logging.py
  libs/aegra-api/tests/unit/test_middleware/test_logger_middleware.py
  libs/aegra-api/tests/unit/test_utils/test_setup_logging.py
Due: aegra-api

style: apply ruff formatting to logging files
  libs/aegra-api/src/aegra_api/utils/setup_logging.py
  libs/aegra-api/tests/unit/test_utils/test_setup_logging.py
Due: aegra-api

fix: correct misleading docstring about processor ordering
  libs/aegra-api/tests/unit/test_utils/test_setup_logging.py
Due: none

fix: use plain_traceback on Windows to avoid UnicodeEncodeError
  libs/aegra-api/src/aegra_api/utils/setup_logging.py
Due: aegra-api

test: add runtime integration tests for JSON traceback and context vars
  libs/aegra-api/tests/unit/test_utils/test_setup_logging.py
Due: none

refactor: consolidate env branching into single if/else block
  libs/aegra-api/src/aegra_api/utils/setup_logging.py
Due: aegra-api

refactor: improve code quality of logging setup and tests
  libs/aegra-api/src/aegra_api/utils/setup_logging.py
  libs/aegra-api/tests/unit/test_utils/test_setup_logging.py
Due: aegra-api

feat(db): support multi-host DATABASE_URL for native PostgreSQL HA
  .env.example
  libs/aegra-api/src/aegra_api/constants.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_settings.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
Due: aegra-api, aegra-cli

fix(db): handle IPv6 and trailing-colon in multi-host DATABASE_URL parsing
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_settings.py
Due: aegra-api

fix(settings): validate malformed IPv6 in DATABASE_URL and parametrize host/port tests
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_settings.py
Due: aegra-api

feat: add LOG_EXCLUDE_PATHS to suppress access logs for noisy endpoints
  .env.example
  libs/aegra-api/src/aegra_api/middleware/logger_middleware.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_middleware/test_logger_middleware.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
Due: aegra-api, aegra-cli

refactor(middleware): address PR review feedback for LOG_EXCLUDE_PATHS
  libs/aegra-api/src/aegra_api/middleware/logger_middleware.py
  libs/aegra-api/tests/integration/test_log_exclude_paths.py
  libs/aegra-api/tests/unit/test_middleware/test_logger_middleware.py
Due: aegra-api

fix(tests): harden integration tests for LOG_EXCLUDE_PATHS
  libs/aegra-api/tests/integration/test_log_exclude_paths.py
Due: none

fix(tests): move imports to module scope and tighten assertions
  libs/aegra-api/tests/integration/test_log_exclude_paths.py
Due: none

fix(tests): add autouse fixture to prevent cross-test module state leakage
  libs/aegra-api/tests/integration/test_log_exclude_paths.py
Due: none

feat(observability): add optional Prometheus metrics endpoint
  .env.example
  docs/guides/observability.mdx
  docs/reference/environment-variables.mdx
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/observability/metrics.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/integration/test_prometheus_metrics.py
  libs/aegra-api/tests/unit/test_observability/test_metrics.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  uv.lock
Due: aegra-api, aegra-cli

feat(observability): add optional Prometheus metrics endpoint
  .env.example
  docs/guides/observability.mdx
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/middleware/logger_middleware.py
  libs/aegra-api/src/aegra_api/observability/metrics.py
  libs/aegra-api/tests/e2e/test_prometheus_metrics.py
  libs/aegra-api/tests/integration/test_prometheus_metrics.py
  libs/aegra-api/tests/unit/test_observability/test_metrics.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
Due: aegra-api, aegra-cli

fix(tests): use object-based monkeypatch to fix CI module resolution
  libs/aegra-api/tests/integration/test_prometheus_metrics.py
  libs/aegra-api/tests/unit/test_observability/test_metrics.py
Due: none

fix(tests): improve e2e prometheus metrics test
  libs/aegra-api/tests/e2e/test_prometheus_metrics.py
Due: none

fix: remove duplicate function def, align bridge deps, commit lockfile
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-js-bridge/.gitignore
  libs/aegra-js-bridge/package-lock.json
  libs/aegra-js-bridge/package.json
Due: aegra-api

fix: address reviewer feedback on template flag, checkpointing, and docs
  docs/guides/langgraphjs.mdx
  examples/langgraphjs_chatbot/graph.ts
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/templates/langgraphjs-chatbot/graph.ts.template
Due: aegra-cli

fix: checkpoint ids, duplicate registry pass, and loader error swallowing
  libs/aegra-api/src/aegra_api/services/js_graph_wrapper.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/unit/test_services/test_js_graph_wrapper.py
Due: aegra-api

fix: resolve P2 issues and CI failures
  libs/aegra-api/src/aegra_api/services/graph_streaming.py
  libs/aegra-api/src/aegra_api/services/js_bridge.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/commands/init.py
  pyproject.toml
Due: aegra-api, aegra-cli

fix: resolve remaining P2 findings from Greptile review
  examples/langgraphjs_chatbot/tsconfig.json
  libs/aegra-api/src/aegra_api/services/js_bridge.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
Due: aegra-api

fix: add JS-aware Dockerfile and bridge restart recovery
  libs/aegra-api/src/aegra_api/services/js_graph_wrapper.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
Due: aegra-api, aegra-cli

chore: bump version to 0.8.5 for LangGraph.js feature
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
Due: none

fix: add missing src/ COPY in JS Dockerfile, move tsx to dependencies
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-js-bridge/package-lock.json
  libs/aegra-js-bridge/package.json
Due: aegra-cli

fix: resolve bridge path for wheel/Docker installs, fix startup deadlock
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/services/js_bridge.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
Due: aegra-api, aegra-cli

chore: update all references from ibbybuilds/aegra to aegra/aegra
  CONTRIBUTING.md
  README.md
  docs/docs.json
  docs/feature-support.mdx
  docs/guides/contributing.mdx
  docs/installation.mdx
  docs/llms.txt
  docs/migration.mdx
  docs/reference/configuration.mdx
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/config.py
  libs/aegra-api/tests/integration/test_api/test_threads_history.py
  libs/aegra-api/tests/integration/test_services/test_graph_factory_integration.py
  libs/aegra-api/tests/unit/test_services/test_graph_streaming_events_mode.py
  libs/aegra-api/tests/unit/test_services/test_langgraph_service.py
  libs/aegra-cli/README.md
  libs/aegra-cli/src/aegra_cli/templates/react-agent/README.md.template
  libs/aegra-cli/src/aegra_cli/templates/simple-chatbot/README.md.template
Due: aegra-api, aegra-cli

chore: bump version to 0.9.3
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

docs(docs): add LOG_EXCLUDE_PATHS to environment variables reference
  docs/reference/environment-variables.mdx
Due: none
