Repository ibbybuilds/aegra: changes, and which Codecov flags are due for each by the changed paths.
All: aegra-api, aegra-cli

docs(db): add high-availability guide and validate non-integer ports
  docs/guides/high-availability.mdx
  docs/reference/environment-variables.mdx
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_settings.py
Due: aegra-api

fix(graph): normalize non-streaming LLM messages to chunk types in messages-tuple mode
  libs/aegra-api/src/aegra_api/services/graph_streaming.py
  libs/aegra-api/tests/unit/test_services/test_graph_streaming.py
Due: aegra-api

test(graph): assert usage_metadata preservation in AIMessage chunk conversion
  libs/aegra-api/tests/unit/test_services/test_graph_streaming.py
Due: none

fix(observability): emit langfuse_session_id in metadata for CallbackHandler compatibility
  libs/aegra-api/src/aegra_api/observability/otel.py
  libs/aegra-api/tests/unit/test_observability/test_otel.py
Due: aegra-api

fix(observability): address review feedback for langfuse metadata
  libs/aegra-api/src/aegra_api/observability/otel.py
  libs/aegra-api/tests/unit/test_observability/test_otel.py
Due: aegra-api

fix(observability): wire exporter immediately when adding target after setup
  libs/aegra-api/src/aegra_api/observability/otel.py
  libs/aegra-api/tests/unit/test_observability/test_otel.py
Due: aegra-api

feat(api): add cron jobs endpoints matching LangGraph SDK contract
  .env.example
  libs/aegra-api/alembic/versions/20260413201423_add_crons_table.py
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/crons.py
  libs/aegra-api/src/aegra_api/core/health.py
  libs/aegra-api/src/aegra_api/core/orm.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/models/__init__.py
  libs/aegra-api/src/aegra_api/models/crons.py
  libs/aegra-api/src/aegra_api/services/cron_scheduler.py
  libs/aegra-api/src/aegra_api/services/cron_service.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
  uv.lock
Due: aegra-api, aegra-cli

feat(cli): add --debug-port and --wait-for-client options to dev command
  docs/reference/cli.mdx
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/tests/test_cli.py
  uv.lock
Due: aegra-cli

test(api): add comprehensive unit and integration tests for cron jobs
  libs/aegra-api/alembic/versions/20260413201423_add_crons_table.py
  libs/aegra-api/tests/integration/test_api/test_crons_crud.py
  libs/aegra-api/tests/unit/test_services/test_cron_scheduler.py
  libs/aegra-api/tests/unit/test_services/test_cron_service.py
Due: none

fix(cron): prevent double-fire on cron creation
  aegra.json
  examples/cron_example/__init__.py
  examples/cron_example/graph.py
  examples/cron_example/setup.py
  libs/aegra-api/src/aegra_api/services/cron_service.py
  libs/aegra-api/tests/unit/test_services/test_cron_service.py
Due: aegra-api

feat(cron): add timezone-aware cron support with docs and tests
  docs/docs.json
  docs/feature-support.mdx
  docs/guides/cron.mdx
  docs/migration.mdx
  docs/reference/environment-variables.mdx
  libs/aegra-api/src/aegra_api/models/crons.py
  libs/aegra-api/src/aegra_api/services/cron_service.py
  libs/aegra-api/tests/e2e/test_crons/__init__.py
  libs/aegra-api/tests/e2e/test_crons/test_crons.py
  libs/aegra-api/tests/integration/test_api/test_crons_crud.py
  libs/aegra-api/tests/unit/test_services/test_cron_service.py
Due: aegra-api

fix(cron): prevent scheduler death during sleep and advance schedule after run creation errors
  libs/aegra-api/src/aegra_api/services/cron_scheduler.py
  libs/aegra-api/tests/unit/test_services/test_cron_scheduler.py
Due: aegra-api

fix(cron): preserve timezone when rescheduling and add debug logging
  libs/aegra-api/src/aegra_api/services/cron_scheduler.py
  libs/aegra-api/tests/unit/test_services/test_cron_scheduler.py
Due: aegra-api

feat(observability): add 21 custom Prometheus metrics for worker and reaper
  docs/guides/worker-architecture.mdx
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/observability/metrics.py
  libs/aegra-api/src/aegra_api/services/lease_reaper.py
  libs/aegra-api/src/aegra_api/services/run_executor.py
  libs/aegra-api/src/aegra_api/services/run_preparation.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
  libs/aegra-api/tests/e2e/test_worker_metrics.py
  libs/aegra-api/tests/integration/test_worker_metrics.py
  libs/aegra-api/tests/unit/test_observability/test_worker_metrics.py
  libs/aegra-api/tests/unit/test_services/test_lease_reaper.py
  libs/aegra-api/tests/unit/test_services/test_run_executor.py
  libs/aegra-api/tests/unit/test_services/test_worker_executor.py
Due: aegra-api

fix(observability): address PR review feedback
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/services/lease_reaper.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
Due: aegra-api

fix(cron): support graph-id assistant_id resolution and stateless cron cleanup parity
  docs/getting-started.mdx
  docs/guides/assistants.mdx
  docs/guides/cron.mdx
  docs/quickstart.mdx
  libs/aegra-api/src/aegra_api/api/crons.py
  libs/aegra-api/src/aegra_api/api/stateless_runs.py
  libs/aegra-api/src/aegra_api/services/cron_scheduler.py
  libs/aegra-api/src/aegra_api/services/cron_service.py
  libs/aegra-api/src/aegra_api/services/run_cleanup.py
  libs/aegra-api/tests/e2e/test_crons/test_crons.py
  libs/aegra-api/tests/unit/test_api/test_crons.py
  libs/aegra-api/tests/unit/test_api/test_stateless_runs.py
  libs/aegra-api/tests/unit/test_services/test_cron_scheduler.py
  libs/aegra-api/tests/unit/test_services/test_cron_service.py
Due: aegra-api

chore: bump version to 0.9.4
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

fix(api): address cron follow-up issues
  examples/cron_example/__init__.py
  examples/cron_example/setup.py
  libs/aegra-api/src/aegra_api/core/health.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/models/crons.py
  libs/aegra-api/src/aegra_api/services/cron_scheduler.py
  libs/aegra-api/src/aegra_api/services/cron_service.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/integration/test_api/test_crons_crud.py
  libs/aegra-api/tests/integration/test_health_info.py
  libs/aegra-api/tests/unit/test_services/test_cron_scheduler.py
  libs/aegra-api/tests/unit/test_services/test_cron_service.py
  libs/aegra-api/tests/unit/test_settings.py
Due: aegra-api

fix(api): harden cron claim and retry handling
  libs/aegra-api/src/aegra_api/services/cron_scheduler.py
  libs/aegra-api/src/aegra_api/services/cron_service.py
  libs/aegra-api/tests/fixtures/clients.py
  libs/aegra-api/tests/integration/test_health_info.py
  libs/aegra-api/tests/unit/test_services/test_cron_scheduler.py
  libs/aegra-api/tests/unit/test_services/test_cron_service.py
Due: aegra-api

test(crons): align cron E2E test with actual run response
  libs/aegra-api/tests/e2e/test_crons/test_crons.py
Due: none

test(cron): move ZoneInfo import to module level and add checkpoint assertion
  libs/aegra-api/tests/unit/test_services/test_cron_scheduler.py
  libs/aegra-api/tests/unit/test_services/test_cron_service.py
Due: none

docs(docs): add high-availability guide to mintlify sidebar
  docs/docs.json
Due: none

fix(cli): make sure that debug-port is sent as string to debugpy when runnign aegra dev
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/tests/test_cli.py
Due: aegra-cli

feat(cli): add --no-reload option to dev command
  docs/reference/cli.mdx
  libs/aegra-api/src/aegra_api/test_utils/__init__.py
  libs/aegra-api/src/aegra_api/test_utils/_e2e.py
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/tests/e2e/test_cli_e2e.py
  libs/aegra-cli/tests/integration/test_cli_integration.py
  libs/aegra-cli/tests/test_cli.py
Due: aegra-api, aegra-cli

fix(runs): preserve None input for checkpoint-only resume
  libs/aegra-api/src/aegra_api/models/run_job.py
  libs/aegra-api/src/aegra_api/models/runs.py
  libs/aegra-api/src/aegra_api/services/run_preparation.py
  libs/aegra-api/tests/unit/test_models/test_runcreate_validation.py
  libs/aegra-api/tests/unit/test_services/test_run_job.py
Due: aegra-api

fix(threads): allow checkpoint-copy via POST /state when as_node is set
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
Due: aegra-api

fix(api): apply order_by in threads search
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/tests/e2e/test_threads/test_search.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
  libs/aegra-api/tests/unit/test_api/test_threads_search_sort.py
Due: aegra-api

feat(api): accept sort_by/sort_order in threads search (SDK compat)
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/models/threads.py
  libs/aegra-api/tests/e2e/test_threads/test_search.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
  libs/aegra-api/tests/unit/test_api/test_threads_search_sort.py
Due: aegra-api

fix(api): match metadata boolean filters via JSONB cast
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/tests/e2e/test_threads/test_search.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
Due: aegra-api

style: ruff format threads search changes
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/tests/e2e/test_threads/test_search.py
  libs/aegra-api/tests/unit/test_api/test_threads_search_sort.py
Due: aegra-api

fix(api): streamline metadata filter and sort order handling in threads search
  libs/aegra-api/tests/e2e/test_threads/test_search.py
  libs/aegra-api/tests/unit/test_api/test_threads_search_sort.py
Due: none

feat(cli): remove integration and e2e tests
  libs/aegra-api/src/aegra_api/test_utils/__init__.py
  libs/aegra-api/src/aegra_api/test_utils/_e2e.py
  libs/aegra-cli/tests/e2e/test_cli_e2e.py
  libs/aegra-cli/tests/integration/test_cli_integration.py
Due: aegra-api

fix(api): SSE keepalive and transport-layer disconnect handling
  docs/guides/streaming.mdx
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/stateless_runs.py
  libs/aegra-api/src/aegra_api/core/sse.py
  libs/aegra-api/src/aegra_api/services/streaming_service.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/integration/test_sse_keepalive.py
  libs/aegra-api/tests/unit/test_api/test_runs_streaming.py
  libs/aegra-api/tests/unit/test_api/test_stateless_runs.py
  libs/aegra-api/tests/unit/test_settings.py
  uv.lock
Due: aegra-api

fix(api): don't delete ephemeral thread on early SSE disconnect
  docs/guides/streaming.mdx
  libs/aegra-api/src/aegra_api/api/stateless_runs.py
  libs/aegra-api/tests/integration/test_sse_keepalive.py
  libs/aegra-api/tests/unit/test_api/test_runs_streaming.py
  libs/aegra-api/tests/unit/test_api/test_stateless_runs.py
Due: aegra-api

test(api): harden SSE regression tests from review feedback
  libs/aegra-api/tests/integration/test_sse_keepalive.py
  libs/aegra-api/tests/unit/test_api/test_runs_streaming.py
Due: none

test(e2e): explicit SSE comment filter in parse_sse_event
  libs/aegra-api/tests/e2e/test_streaming/test_streaming_error_e2e.py
Due: none

fix(store): ignore empty namespace query values
  libs/aegra-api/src/aegra_api/api/store.py
  libs/aegra-api/tests/integration/test_api/test_store_crud.py
Due: aegra-api

chore: bump version to 0.9.5
  docs/openapi.json
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

feat(db): add POSTGRES_SCHEMA support for schema-isolated deployments
  libs/aegra-api/alembic/env.py
  libs/aegra-api/alembic/versions/20250817172544_initial_schema.py
  libs/aegra-api/src/aegra_api/core/database.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_core/test_database_manager.py
  libs/aegra-api/tests/unit/test_settings.py
Due: aegra-api

fix(settings): URL-encode database credentials with special characters
  .env.example
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_settings.py
  libs/aegra-cli/src/aegra_cli/templates/env.example.template
Due: aegra-api, aegra-cli

Path conditions:
  aegra-api: any of: libs/aegra-api/src/
  aegra-cli: any of: libs/aegra-cli/src/
