Repository ibbybuilds/aegra: changes, and which Codecov flags are due for each by the changed paths.
All: aegra-api, aegra-cli

codecov.yml:

coverage:
  # Badge color thresholds: red < 50%, yellow 50-70%, green >= 70%
  range: 50..70
  round: down
  precision: 2
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 2%
      # Per-package coverage status
      aegra-api:
        flags:
          - aegra-api
        target: auto
        threshold: 2%
      aegra-cli:
        flags:
          - aegra-cli
        target: auto
        threshold: 2%
    patch:
      default:
        informational: true

# Define flags for monorepo packages
flags:
  aegra-api:
    paths:
      - libs/aegra-api/src/
    carryforward: true
  aegra-cli:
    paths:
      - libs/aegra-cli/src/
    carryforward: true

comment:
  # Use condensed layout for cleaner, more focused PR comments
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default  # Update existing comment, or post new if doesn't exist
  # Only post if coverage changes (reduces noise)
  require_changes: true
  # Require both base and head reports for meaningful comparison
  require_base: true
  require_head: true
  # Hide project coverage, focus on patch/diff coverage (cleaner view)
  hide_project_coverage: true

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

ci(release): add PyPI publishing workflow
  .github/workflows/release.yml
Due: none

ci(release): add environments for PyPI trusted publishing
  .github/workflows/release.yml
Due: none

fix(ci): add pytest-cov to cli deps and remove obsolete scripts
  libs/aegra-cli/pyproject.toml
  scripts/fix_imports.py
  scripts/migrate.py
Due: none

fix(test): handle Rich line wrapping in config path assertion
  libs/aegra-cli/tests/test_cli.py
Due: none

fix(release): add always() to publish jobs for proper skip handling
  .github/workflows/release.yml
Due: none

fix(model-armor): simplify violation message to be more concise
  graphs/ava_v1/middleware/model_armor.py
Due: none

feat: add aegra meta-package to claim PyPI name
  libs/aegra/README.md
  libs/aegra/pyproject.toml
Due: none

fix(aegra): add empty module for hatch build
  libs/aegra/pyproject.toml
  libs/aegra/src/aegra/__init__.py
Due: none

chore: remove aegra meta-package folder (published to PyPI)
  libs/aegra/README.md
  libs/aegra/pyproject.toml
  libs/aegra/src/aegra/__init__.py
Due: none

fix(cli): use PostgreSQL 18 in docker-compose template
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/tests/conftest.py
Due: aegra-cli

fix: use pgvector/pgvector:pg18 for vector search support
  docker-compose.yml
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/tests/conftest.py
Due: aegra-cli

fix(test): update test for pgvector image
  libs/aegra-cli/tests/test_init.py
  libs/aegra-cli/uv.lock
Due: none

docs: update README and add future plans
  README.md
  aegra_docs/PLAN_documentation_site.md
  aegra_docs/PLAN_semantic_versioning.md
Due: none

feat(cli): improve Docker workflow with separate dev/prod compose files
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/tests/test_cli.py
  libs/aegra-cli/tests/test_init.py
Due: aegra-cli

chore: remove aegra_docs folder (moved to parent directory)
  aegra_docs/PLAN_documentation_site.md
  aegra_docs/PLAN_semantic_versioning.md
Due: none

test(cli): add coverage for new Docker workflow features
  libs/aegra-cli/tests/test_cli.py
Due: none

chore: bump version to 0.2.0
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
Due: none

feat(ava_v1): add CRM lookup for Tier 2 email validation
  .env.example
  graphs/ava_v1/shared_libraries/crm_client.py
  graphs/ava_v1/shared_libraries/email_validator.py
  scripts/test_crm_lookup.py
Due: none

fix(ava_v1): normalize email to lowercase and clarify CRM/IPQS logs
  graphs/ava_v1/shared_libraries/crm_client.py
  graphs/ava_v1/shared_libraries/email_validator.py
Due: none

fix(ava_v1): point STAGING to DEV CRM for consistent customer data
  graphs/ava_v1/shared_libraries/crm_client.py
Due: none

fix(ava_v1): point PRODUCTION to QA CRM temporarily
  graphs/ava_v1/shared_libraries/crm_client.py
Due: none

debug(ava_v1): add verbose logging for pay-transfer context stack
  graphs/ava_v1/tools/call/modify_call.py
Due: none

feat: scale server for 300 concurrent connections
  .env.production.example
  .env.staging.example
  LOAD_TEST_RESULTS.md
  deployments/docker/Dockerfile
  deployments/docker/Dockerfile.production
  docker-compose.yml
  scripts/load_test.py
  scripts/monitor_capacity.py
  scripts/simple_load_test.py
  uv.lock
  uv.lock.backup
Due: none

Update observability documentation with MLFlow info
  docs/observability.md
Due: none

feat: implement standardized Kubernetes health check endpoints
  deployments/docker/Dockerfile.production
  src/agent_server/core/auth_middleware.py
  src/agent_server/core/health.py
  tests/e2e/test_health_endpoints.py
  tests/unit/test_health_endpoints.py
Due: none

refactor(health): implement structured CheckResult schema for health checks
  src/agent_server/core/health.py
  tests/e2e/test_health_endpoints.py
  tests/unit/test_health_endpoints.py
Due: none

fix(health): use JSONResponse to properly return 503 status code
  src/agent_server/core/health.py
  tests/unit/test_health_endpoints.py
Due: none

fix(ava_v1): stream Model Armor violation messages for TTS support
  graphs/ava_v1/middleware/model_armor.py
  scripts/test_model_armor_streaming.py
Due: none

fix(ava_v1): register Model Armor after-model hook in middleware stack
  graphs/ava_v1/graph.py
Due: none

fix(health): improve optional dependency health checks
  graphs/ava_v1/shared_libraries/cache_worker_client.py
  src/agent_server/core/health.py
  tests/unit/test_health_endpoints.py
  uv.lock
Due: none

feat: fix strategy generation and API improvements
  .env.example
  pyproject.toml
  scripts/clear_opportunities.py
  scripts/test_brave_linkedin.py
  scripts/test_discovery.py
  scripts/test_jsearch.py
  src/agent_server/api/accountability.py
  src/agent_server/api/opportunities.py
  src/agent_server/api/web_push.py
  src/agent_server/main.py
  src/agent_server/services/accountability_service.py
  src/agent_server/services/notification_engine.py
  src/agent_server/services/opportunity_discovery.py
  src/agent_server/services/opportunity_discovery.py.bak
  src/agent_server/services/opportunity_service.py
  src/agent_server/services/scheduler.py
  src/agent_server/services/web_push.py
  src/agent_server/settings.py
  uv.lock
Due: none

chore: cleanup stale files and add .bak to gitignore
  .gitignore
  libs/aegra-api/src/aegra_api/services/opportunity_discovery.py.bak
Due: aegra-api

fix(api): move tags and dependencies to routers to resolve duplicate schema entries
  libs/aegra-api/src/aegra_api/api/assistants.py
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/store.py
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/core/health.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/uv.lock
Due: aegra-api

refactor: update all old src/agent_server references to aegra_api
  Dockerfile
  Makefile
  docs/authentication.md
  docs/custom-routes.md
  docs/developer-guide.md
  docs/production-docker-setup.md
  examples/react_agent/tools.py
  libs/aegra-api/src/aegra_api/__main__.py
  libs/aegra-api/src/aegra_api/core/database.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/src/aegra_api/services/opportunity_discovery.py
  libs/aegra-api/src/aegra_api/services/web_push.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/src/aegra_api/tools/rag/README.md
  libs/aegra-api/src/aegra_api/tools/rag/ingest.py
  libs/aegra-api/tests/README.md
  libs/aegra-api/tests/e2e/manual_auth_tests/README.md
  libs/aegra-api/uv.lock
  pyproject.toml
  pytest.ini
  run_server.py
  scripts/backfill_activity_logs.py
  scripts/clear_opportunities.py
  scripts/test_brave_linkedin.py
  scripts/test_discovery.py
  scripts/verify_rag_setup.py
  test_sdk_integration.py
  uv.lock
Due: aegra-api

fix: deduplicate opportunities tag, set discovery job to daily
  docs/authentication.md
  libs/aegra-api/src/aegra_api/api/opportunities.py
  libs/aegra-api/src/aegra_api/services/scheduler.py
  libs/aegra-api/tests/README.md
  libs/aegra-api/tests/e2e/manual_auth_tests/README.md
Due: aegra-api

fix: add auth config to aegra.json to enable JWT authentication
  aegra.json
Due: none

style: fix all ruff lint errors
  libs/aegra-api/src/aegra_api/api/management.py
  libs/aegra-api/src/aegra_api/api/opportunities.py
  libs/aegra-api/src/aegra_api/core/redis.py
  libs/aegra-api/src/aegra_api/services/accountability_service.py
  libs/aegra-api/src/aegra_api/services/notification_engine.py
  libs/aegra-api/src/aegra_api/services/opportunity_discovery.py
  libs/aegra-api/src/aegra_api/services/opportunity_service.py
  libs/aegra-api/src/aegra_api/services/scheduler.py
  libs/aegra-api/src/aegra_api/services/web_push.py
Due: aegra-api

test(auth): refactor test client to use dependency overrides for auth
  libs/aegra-api/tests/conftest.py
  libs/aegra-api/tests/fixtures/clients.py
Due: none

fix(makefile): resolve pre-commit execution error in dev-install
  Makefile
  libs/aegra-api/uv.lock
Due: none

fix(assistant_service): add the missing metadata_dict field to the version update and query methods.
  libs/aegra-api/src/aegra_api/services/assistant_service.py
Due: aegra-api
