Repository ibbybuilds/aegra: changes, and which Codecov flags are due for each by the changed paths.
All: aegra-api, aegra-cli

fix: fix persisting context in threads history metadata
  libs/aegra-api/src/aegra_api/api/runs.py
Due: aegra-api

refactor: allow both configurable and context in run creation and waiting tests
  libs/aegra-api/tests/integration/test_api/test_runs_crud.py
  libs/aegra-api/tests/integration/test_api/test_stateless_runs_crud.py
  libs/aegra-api/tests/unit/test_api/test_runs.py
Due: none

feat: split Docker setup into reusable base image + overlay pattern
  README.md
  deployments/docker/Dockerfile
  deployments/docker/Dockerfile.overlay
  deployments/docker/docker-compose.overlay.yml
  docker-compose.yml
  docs/guides/deployment.mdx
Due: none

fix: install aegra-cli in base image so aegra serve works
  deployments/docker/Dockerfile
Due: none

fix: validate configurable parameter type in run creation and waiting endpoints
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/integration/test_api/test_runs_crud.py
  libs/aegra-api/tests/integration/test_api/test_stateless_runs_crud.py
Due: aegra-api

feat: add _resolve_context helper and corresponding unit/e2e tests to ensure context handling
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/e2e/test_runs/test_context_not_in_checkpoints.py
  libs/aegra-api/tests/unit/test_api/test_runs.py
Due: aegra-api

chore: bump version to 0.8.3
  libs/aegra-api/pyproject.toml
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: none

docs: auto-update OpenAPI spec
  docs/openapi.json
Due: none

fix: defer factory graph invocation to prevent user=None on first request
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/integration/test_services/test_graph_factory_integration.py
  libs/aegra-api/tests/integration/test_services/test_langgraph_service_integration.py
  libs/aegra-api/tests/unit/test_services/test_langgraph_service.py
Due: aegra-api

fix: address PR review comments for type safety and annotations
  libs/aegra-api/src/aegra_api/services/graph_factory.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
Due: aegra-api

Update 'before' parameter structure in threads.py
  libs/aegra-api/src/aegra_api/api/threads.py
Due: aegra-api

fix: fix root endpoint to report actual installed Aegra version
  libs/aegra-api/src/aegra_api/main.py
Due: aegra-api

feat: add LangGraph.js support via Node.js bridge
  docs/docs.json
  docs/feature-support.mdx
  docs/guides/langgraphjs.mdx
  docs/reference/configuration.mdx
  examples/langgraphjs_chatbot/README.md
  examples/langgraphjs_chatbot/graph.ts
  examples/langgraphjs_chatbot/package.json
  examples/langgraphjs_chatbot/state.ts
  examples/langgraphjs_chatbot/tsconfig.json
  libs/aegra-api/src/aegra_api/services/graph_streaming.py
  libs/aegra-api/src/aegra_api/services/js_bridge.py
  libs/aegra-api/src/aegra_api/services/js_graph_wrapper.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/unit/test_services/test_js_bridge.py
  libs/aegra-api/tests/unit/test_services/test_js_graph_wrapper.py
  libs/aegra-api/tests/unit/test_services/test_langgraph_service.py
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/commands/init.py
  libs/aegra-cli/src/aegra_cli/templates/__init__.py
  libs/aegra-cli/src/aegra_cli/templates/langgraphjs-chatbot/README.md.template
  libs/aegra-cli/src/aegra_cli/templates/langgraphjs-chatbot/graph.ts.template
  libs/aegra-cli/src/aegra_cli/templates/langgraphjs-chatbot/manifest.json
  libs/aegra-cli/src/aegra_cli/templates/langgraphjs-chatbot/package.json.template
  libs/aegra-cli/src/aegra_cli/templates/langgraphjs-chatbot/state.ts.template
  libs/aegra-cli/src/aegra_cli/templates/langgraphjs-chatbot/tsconfig.json.template
  libs/aegra-js-bridge/.gitignore
  libs/aegra-js-bridge/README.md
  libs/aegra-js-bridge/package.json
  libs/aegra-js-bridge/src/graph-executor.ts
  libs/aegra-js-bridge/src/graph-loader.ts
  libs/aegra-js-bridge/src/index.ts
  libs/aegra-js-bridge/src/protocol.ts
  libs/aegra-js-bridge/src/types.ts
  libs/aegra-js-bridge/tsconfig.json
Due: aegra-api, aegra-cli

fix: correct wrong ThreadHistoryRequest signature for before
  libs/aegra-api/src/aegra_api/models/threads.py
Due: aegra-api

fix: address PR #258 review comments
  examples/langgraphjs_chatbot/README.md
  examples/langgraphjs_chatbot/package.json
  examples/langgraphjs_chatbot/tsconfig.json
  libs/aegra-api/src/aegra_api/services/js_bridge.py
  libs/aegra-api/src/aegra_api/services/js_graph_wrapper.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/unit/test_services/test_js_graph_wrapper.py
  libs/aegra-cli/src/aegra_cli/cli.py
  libs/aegra-cli/src/aegra_cli/templates/langgraphjs-chatbot/package.json.template
  libs/aegra-js-bridge/README.md
Due: aegra-api, aegra-cli

fix: validate config types and use rsplit in CLI path parsing
  libs/aegra-cli/src/aegra_cli/cli.py
Due: aegra-cli

docs(assistants): fix async example for assistant creation
  docs/guides/assistants.mdx
Due: none

initial implementation done, tests written, docs updated, version bumped
  CLAUDE.md
  README.md
  docs/a2a.md
  docs/mcp.md
  docs/reference/configuration.mdx
  libs/aegra-api/README.md
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/adapters/__init__.py
  libs/aegra-api/src/aegra_api/adapters/a2a_adapter.py
  libs/aegra-api/src/aegra_api/adapters/a2a_service.py
  libs/aegra-api/src/aegra_api/adapters/mcp_adapter.py
  libs/aegra-api/src/aegra_api/adapters/mcp_service.py
  libs/aegra-api/src/aegra_api/config.py
  libs/aegra-api/src/aegra_api/main.py
  libs/aegra-api/tests/e2e/test_a2a_e2e.py
  libs/aegra-api/tests/e2e/test_adapter_auth_e2e.py
  libs/aegra-api/tests/e2e/test_mcp_e2e.py
  libs/aegra-api/tests/integration/adapters/__init__.py
  libs/aegra-api/tests/integration/adapters/test_a2a_endpoint.py
  libs/aegra-api/tests/integration/adapters/test_adapter_auth.py
  libs/aegra-api/tests/integration/adapters/test_mcp_endpoint.py
  libs/aegra-api/tests/unit/adapters/__init__.py
  libs/aegra-api/tests/unit/adapters/test_a2a_service.py
  libs/aegra-api/tests/unit/adapters/test_config.py
  libs/aegra-api/tests/unit/adapters/test_mcp_service.py
  libs/aegra-cli/pyproject.toml
  uv.lock
Due: aegra-api

addressed coderabbit review feedback
  docs/reference/configuration.mdx
  libs/aegra-api/src/aegra_api/adapters/a2a_service.py
  libs/aegra-api/src/aegra_api/adapters/mcp_service.py
  libs/aegra-api/tests/unit/adapters/test_a2a_service.py
Due: aegra-api

fix: correct ThreadHistoryRequest.before type to accept checkpoint dict
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/models/threads.py
Due: aegra-api

docs: fix bare await examples and incorrect checkpoint_id access
  docs/getting-started.mdx
  docs/guides/assistants.mdx
  docs/guides/semantic-store.mdx
  docs/guides/store.mdx
  docs/guides/threads-and-state.mdx
Due: none

docs: fix incorrect store method names in semantic-store guide
  docs/guides/semantic-store.mdx
Due: none

fix: align lease and reaper defaults with industry standards
  libs/aegra-api/src/aegra_api/settings.py
Due: aegra-api

fix: address code review findings for worker architecture
  Makefile
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/services/lease_reaper.py
  libs/aegra-api/src/aegra_api/services/local_executor.py
  libs/aegra-api/src/aegra_api/services/run_executor.py
  libs/aegra-api/src/aegra_api/services/run_preparation.py
  libs/aegra-api/src/aegra_api/services/run_status.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
  libs/aegra-api/tests/integration/test_api/test_runs_crud.py
  libs/aegra-api/tests/integration/test_api/test_stateless_runs_crud.py
  libs/aegra-api/tests/integration/test_streaming_errors.py
  libs/aegra-api/tests/unit/test_api/test_runs.py
  libs/aegra-api/tests/unit/test_api/test_runs_streaming.py
  libs/aegra-api/tests/unit/test_api/test_runs_wait.py
  libs/aegra-api/tests/unit/test_api/test_thread_status.py
  libs/aegra-api/tests/unit/test_services/test_lease_reaper.py
  libs/aegra-api/tests/unit/test_services/test_run_status.py
  libs/aegra-api/tests/unit/test_services/test_worker_executor.py
Due: aegra-api

docs: add linter suppression rules to CLAUDE.md
  CLAUDE.md
Due: none

fix: validate lease timing invariants at startup
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_settings.py
Due: aegra-api

fix: stale test comment and subprocess check=True
  libs/aegra-api/tests/e2e/multi_instance/test_multi_instance.py
  libs/aegra-api/tests/unit/test_api/test_thread_status.py
Due: none

fix: cancel job on lease loss, inline import, dead pass, log style
  libs/aegra-api/src/aegra_api/services/redis_broker.py
  libs/aegra-api/src/aegra_api/services/run_preparation.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
Due: aegra-api

fix: stream endpoint status, orphaned job_task, configurable stuck threshold
  docs/guides/worker-architecture.mdx
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/services/lease_reaper.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
  libs/aegra-api/src/aegra_api/settings.py
  libs/aegra-api/tests/unit/test_services/test_worker_executor.py
Due: aegra-api

fix: address PR #251 deep review — cache, user forwarding, module safety
  libs/aegra-api/src/aegra_api/api/assistants.py
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/src/aegra_api/services/assistant_service.py
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/integration/test_services/test_graph_factory_integration.py
  libs/aegra-api/tests/unit/test_services/test_assistant_service.py
  libs/aegra-api/tests/unit/test_services/test_langgraph_service.py
Due: aegra-api

fix: route factory graphs correctly after invalidate_cache
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/integration/test_services/test_graph_factory_integration.py
Due: aegra-api

fix: add config guard, module-name collision check, and clarify review comments
  libs/aegra-api/src/aegra_api/services/langgraph_service.py
  libs/aegra-api/tests/integration/test_services/test_graph_factory_integration.py
Due: aegra-api

refactor: move importlib to module scope, use distinctive configs in regression tests
  libs/aegra-api/tests/integration/test_services/test_graph_factory_integration.py
Due: none

addressed pr review
  libs/aegra-api/src/aegra_api/adapters/a2a_adapter.py
  libs/aegra-api/src/aegra_api/adapters/a2a_service.py
  libs/aegra-api/src/aegra_api/adapters/mcp_adapter.py
  libs/aegra-api/src/aegra_api/adapters/mcp_service.py
  libs/aegra-api/tests/integration/adapters/test_a2a_endpoint.py
  libs/aegra-api/tests/unit/adapters/test_a2a_service.py
Due: aegra-api

fix: preserve client-provided graph_id and auto-populate thread_name (fixes #254, #231)
  libs/aegra-api/pyproject.toml
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/src/aegra_api/api/threads.py
  libs/aegra-api/tests/integration/test_api/test_threads_crud.py
  libs/aegra-api/tests/unit/test_api/test_runs_thread_name.py
  libs/aegra-cli/pyproject.toml
Due: aegra-api

fix: skip finalize on lease-loss cancellation to prevent status overwrite
  libs/aegra-api/src/aegra_api/services/run_executor.py
  libs/aegra-api/src/aegra_api/services/worker_executor.py
  libs/aegra-api/tests/unit/test_services/test_run_executor.py
Due: aegra-api

fix: address review comments — keyword-only args, list-content blocks, formatting
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/unit/test_api/test_runs_thread_name.py
Due: aegra-api

fix: pass user_id as keyword arg and filter to human messages only
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/unit/test_api/test_runs_thread_name.py
Due: aegra-api

fix: support type-based human messages for thread titles
  libs/aegra-api/src/aegra_api/api/runs.py
  libs/aegra-api/tests/unit/test_api/test_runs_thread_name.py
Due: aegra-api

Path conditions:
  aegra-api: any of: libs/aegra-api/src/
  aegra-cli: any of: libs/aegra-cli/src/
